# Module: system
# Docs: https://www.elastic.co/guide/en/beats/filebeat/main/filebeat-module-system.html

- module: system
# syslog
  syslog:
    enabled: true

# Authorization logs
  auth:
    enabled: true